.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: bisque;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

.footer button {
    font-size: 0.7rem;
    color: rgb(0, 0, 0);
    text-align: center;
    border: none;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    background-color: #efc4c4;
    padding: 5px;
    width: 60px;
}

.footer button:hover {
    background-color: #bd225d9d;
    color: rgb(255, 255, 255);
}