*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(./images/arkaplan1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    text-align: center;
    margin: 0; /* Remove default margin to ensure full coverage */
    padding: 20px;
    height: 100%;
}


/*! ------------------------NAVBAR------------------------ */

#navbar {
    background-color: rgba(134, 132, 6, 0.78);
    position: fixed !important;
    width: 95.7%;
    /* top: 0 !important; */
    z-index: 2;
    border-radius: 10px;
    margin: 0px 20px 0 20px;
}
.header-navbar-text {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding: 20px 0 0 30px;
    color: white;
  }


/*! ------------------------MAİN------------------------ */


main{
    text-align: center;
    /* height: 100vh; */
    padding: 20px;
    margin-top: 80px;
    /* width: 100%; */
}
#main-content{
    padding: 10px;
    background-color: rgba(73, 71, 14, 0.41);
    backdrop-filter: blur(3px);
    height: 100%;
    /* margin: 0 10px; */
    /* border: 2px solid black; */
    border-radius: 10px;
}

/*? ANSAYFA DİV */
/* #carouselExampleCaptions{
    height: calc(100vh - 180px) !important;
} */

/* .d-block{
    width: 600px !important;
    height: 600px !important;
    border-radius: 10px !important;
    
} */

/*! ------------------------OTURUM AC------------------------ */



#oturum-ac{
    height: calc(100vh - 220px);
}
#carouselExampleCaptions{
    padding: 10px;
    background-color: rgba(73, 71, 14, 0.41);
    height: 100%;
    border-radius: 10px;
}
#kaydol{
    height: calc(100vh - 220px);
    /* background-color: rgba(73, 71, 14, 0.41); */
    border-radius: 10px;
    /* display: flex !important; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    /* padding: 10px; */
}


/*! ------------------------FOOTER------------------------ */



.footer {
    height: 58px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: bisque;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

.footer button {
    font-size: 0.7rem;
    color: rgb(0, 0, 0);
    text-align: center;
    border: none;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    background-color: #efc4c4;
    padding: 5px;
    width: 60px;
}

.footer button:hover {
    background-color: #bd225d9d;
    color: rgb(255, 255, 255);
}



/*! ------------------------MEDİA QUERY------------------------ */

@media (max-width: 768px) {
    body {
        background-attachment: fixed;
    }
}

@media screen and (max-width: 488px) {
    .header-navbar-text {
        font-size: 12px;
        padding: 10px 0 0 40px;
        color: white;
      }
    .footer {
        height: 38px;
        font-size: 9px;
        padding-top: 2px;
    }
    .footer button {
        font-size: 0.5rem;
        padding: 3px;
        width: 35px;
    }
    body {
        padding: 5px;
    }
    main{
        margin-top: 180px;
    }
    #navbar {
        margin: 0px 5px 0 5px;
    }
    
}
